# Ignore build artifacts (we usually build inside Docker or copy the specific JAR)
target/*
!targe/java-demo-1.0.jar

# Ignore version control
.git
.gitignore

# Ignore IDE files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Ignore documentation and logs
README.md
*.log
HELP.md

# Ignore local environment configurations
.env